workspace*
logs
log*
pretrained

outputs/
wandb/
core.*

.vscode
.mypy_cache
.pytest_cache
*.egg-info
**/__pycache__/

*.pyc

./data/
data_train/*.json

assets/evaluation_idx_dycheck_per_scene/
assets/evaluation_idx_dycheck.json

experiments/
results/
bench/

pbss_credentials_default.secret
viewer_export/
